<div class="card col-11 pr-0 pl-0">
  <div class="card-header">
    <h5 class="card-title"> {{ chapter.title }}</h5>
    <hr>
    <div class="container">
      <div class="row align-items-center" style="direction: ltr;">
        <div class="col-sm-2">
          <a *ngIf="chapter.number > 1" class="btn btn-sm btn-outline-info w-100"><i class="fa fa-chevron-left"> {{
              chapter.number - 1 }} </i></a>
        </div>
        <div class="col-sm-8 mt-1">
          <p class="card-outline-info text-center">{{ chapter.number }} : {{ chapter.title }}</p>
        </div>
        <div class=" col-sm-2">
          <a class="btn btn-sm btn-outline-info w-100">{{ index + 1 }} <i class="fa fa-chevron-right"></i></a>
        </div>
      </div>
    </div>

  </div>
  <div class="card-block align-items-center contentFrame">
    <iframe class="col" srcdoc="{{ chapter.content }}" frameborder="0"></iframe>
  </div>
  <div class="card-footer">
    <div class=" btn-toolbar justify-content-between">

      <div class="col-12 mt-3">
        <div class="col card-footer">
          <div class="btn-group" role="group" aria-label="Basic example">
            <a type="button" class="btn btn-secondary" routerLink="/chapters/{{book_id}}">Back </a>
            <a type="button" class="btn btn-danger" routerLink="delete(chapter._id)">Delete</a>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="card col-11 mt-4 pr-0 pl-0 mb-2">
    <div class="card-header">
      <h5 class="card-title">Comments</h5>
    </div>
    <div *ngFor="let comment of comments" class="card-block p-2" style="border-bottom: 2px dashed #666">
      <div class="card-body">
        <h5 class="card-title mb-1 alert alert-secondary">{{ comment.author }}</h5>
        <p class="card-text"><span class="col-2"> </span> {{ comment.content }}</p>
        <p class="card-text">
          <small class="text-muted">
            {{comment.createdAt}}</small>
        </p>
      </div>
    </div>

    <div class="card-block">
      <div class="card-body">
        <form action="" (onsubmit)="saveComment()">
          <h5 class="card-title">{{ user.penName }}</h5>
          <textarea name="comment" [(ngModel)]="comment.content" name="content"></textarea>
          <input class="mt-1 col-sm-3 btn btn-outline-primary" type="submit" value="Insert">
        </form>
        <p class="card-text">
          <small class="text-muted"></small>
        </p>
      </div>
    </div>
  </div>
